In [1]:
import pandas as pd

In [2]:
path_df = "C:/Users/gianl/Desktop/Gi/Supsi/MartaLauraGiada/Laura/Tweets/"

In [3]:
retweets = pd.read_parquet(path_df + "retweets.parquet", engine = "fastparquet")
retweets.head()

,id,id_str,created_at,user_id,user_screen_name,user_verified,user_created_at,text,source,coordinates,...,quoted_user_created_at,hashtags,symbols,user_mentions,urls,polls,media,user_tweets_count,user_friends_count,user_followers_count
0,1221739084449832960,1221739084449832960,Mon Jan 27 10:17:51 +0000 2020,241972508,planetpaul65,False,Sun Jan 23 16:31:07 +0000 2011,La Memoria è l’unico vaccino contro l’indiffer...,"<a href=""http://twitter.com/download/android"" ...",NaN,...,NaN,"[{'text': 'GiornatadellaMemoria2020', 'indices...",[],"[{'screen_name': 'isentinelli', 'name': '@isen...",[],[],"[{'id': 1221708229090127872, 'id_str': '122170...",NaN,NaN,NaN
1,1221737155380293640,1221737155380293640,Mon Jan 27 10:10:11 +0000 2020,1179711277,Grace_1207,False,Thu Feb 14 16:37:35 +0000 2013,"Oggi sono arrivati loro, 3 femminucce e 1 masc...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,...,NaN,[],[],"[{'screen_name': 'LidaSezOlbia', 'name': 'Lida...",[],[],[],NaN,NaN,NaN
2,1221730009989120001,1221730009989120001,Mon Jan 27 09:41:47 +0000 2020,115121530,MarisaMinervini,False,Wed Feb 17 17:40:09 +0000 2010,L'indifferenza è più colpevole della violenza ...,"<a href=""http://twitter.com/download/android"" ...",NaN,...,NaN,[],[],"[{'screen_name': 'milio967', 'name': 'Εμιλιο ♌...",[],[],[],NaN,NaN,NaN
3,1221728980203724801,1221728980203724801,Mon Jan 27 09:37:42 +0000 2020,908731428124397568,arual812,False,Fri Sep 15 16:37:10 +0000 2017,"""Coltivare la Memoria è ancora oggi un vaccino...","<a href=""http://twitter.com/download/android"" ...",NaN,...,NaN,[],[],"[{'screen_name': 'Annalisa3073', 'name': 'Anna...",[],[],[],NaN,NaN,NaN
4,1221732930738905088,1221732930738905088,Mon Jan 27 09:53:24 +0000 2020,3194573930,pvsassone,False,Wed May 13 17:31:39 +0000 2015,Ma prima una premessa per chi non conosce la v...,"<a href=""http://twitter.com/download/android"" ...",NaN,...,NaN,[],[],"[{'screen_name': 'FabbioSabatini', 'name': 'Fa...",[],[],[],NaN,NaN,NaN

In [4]:
retweets['creato'] = pd.to_datetime(retweets['created_at'], format='%a %b %d %H:%M:%S %z %Y')
retweets['rt_creato'] = pd.to_datetime(retweets['rt_created_at'], format='%a %b %d %H:%M:%S %z %Y')

In [5]:
retweets['seconds_retweet'] = (retweets['creato']-retweets['rt_creato']).astype('timedelta64[s]')
# lst_filtrata = [x * -1 for x in consecutive_retweets["seconds_retweet"]]
# retweets['seconds_retweet'] = lst_filtrata

In [53]:
seconds = 1
consecutive_retweets = retweets[retweets['seconds_retweet']<=seconds]

In [54]:
consecutive_retweets[['id','user_screen_name','rt_user_screen_name']]

                          id user_screen_name rt_user_screen_name
13827    1311685679781490690  viralvideovlogs             rtl1025
19583    1315375410717298688  viralvideovlogs             gzreset
39424    1313105915042770944  viralvideovlogs              acirne
47234    1315608691534684160  viralvideovlogs        myrtamerlino
61993    1326213075905765384  viralvideovlogs     intermarketblog
...                      ...              ...                 ...
2375611  1393564857866375168  viralvideovlogs        emilianiutta
2376649  1393588101516247045  viralvideovlogs       vaccinaItalia
2380434  1393678787070595077  viralvideovlogs            zirudela
2392332  1393989516424273921  viralvideovlogs            maelmale
2405367  1394321987238076416  viralvideovlogs          PediciniEu

[273 rows x 3 columns]

In [55]:
pd.Series(consecutive_retweets["user_screen_name"]).value_counts().sort_values(ascending=False)[:15]

viralvideovlogs    261
CoronaBot20          4
Alejand14945301      2
YouCanFoolMost       1
Bot_Corona_V         1
russ30327            1
News24_it            1
DigitalixMx          1
OurFutureBot         1
Name: user_screen_name, dtype: int64

In [56]:
filtered_df = retweets[retweets["user_screen_name"]=="viralvideovlogs"]

In [57]:
filtered_df[["id", "user_screen_name", "rt_user_screen_name"]]

                          id user_screen_name rt_user_screen_name
13827    1311685679781490690  viralvideovlogs             rtl1025
19583    1315375410717298688  viralvideovlogs             gzreset
32060    1312298374620753921  viralvideovlogs       Wikileaks_Ita
39424    1313105915042770944  viralvideovlogs              acirne
45973    1315721293484961800  viralvideovlogs        BarbaraRaval
...                      ...              ...                 ...
2410014  1394500614495866883  viralvideovlogs     ChiodiDonatella
2410693  1394524494002262016  viralvideovlogs          paoloigna1
2412129  1394553714568990723  viralvideovlogs     RedattoreSocial
2413832  1394595814287233024  viralvideovlogs      regionetoscana
2414451  1394609386035851270  viralvideovlogs              valy_s

[1020 rows x 3 columns]

In [62]:
# pd.Series(filtered_df["urls"]).value_counts().sort_values(ascending=False)